<a name="buttons"><h2 class="my-3">Tabs</h2></a>
<app-include [components]="components"></app-include>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Standard tabs"></app-anchor-heading>
  <div class="card-body">
    <p>Use tabs to enable easy switching between different content without navigating away. Tabs can be used on small screens like mobile devices too but consider switching to <a routerLink="/dropdowns">dropdowns</a> or a regular <a routerLink="/dropdowns">select</a> instead when tabs are displayed on mobiles.</p>
    <div class="alert alert-warning alert-icon"><strong>Javascript needed!</strong> Please note that the example below is just a representation of how tabs look and the needed markup. In order to use tabs you need a framework to control when and how to show them. If you're using angular, please take a look at <a class="alert-link" href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a> and their <a class="alert-link" href="https://ng-bootstrap.github.io/#/components/tabs" target="_blank">tabs component</a> or use <code>*ngFor</code> to loop through the items and render them as tabs.</div>
    <app-example source="tabs/standard/standard.component.html">
      <app-standard class="ex-example"></app-standard>
    </app-example>
  </div>
</div>
