<a name="buttons"><h2 class="my-3">Tooltips</h2></a>
<app-include [components]="components"></app-include>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Tooltip"></app-anchor-heading>
  <div class="card-body">
    <div class="alert alert-warning alert-icon"><strong>Javascript needed!</strong> Please note that the example below is just a representation of how the tooltips look and the needed markup. In order to use tooltips you need a framework to control when and how to show tooltips. If you're using angular, please take a look at <a class="alert-link" href="https://sebgroup.github.io/ng-bootstrap/" target="_blank">@sebgroup/ng-bootstrap</a> which is a theme for <a class="alert-link" href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a>.</div>
    <app-example source="tooltip/standard/standard.component.html">
      <app-standard class="ex-example bg-light d-block p-4"></app-standard>
    </app-example>
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0">
  <h4 class="card-header">Usage and highlighting</h4>
  <div class="card-body">
    <p>Use the traditional <code>&lt;abbr&gt;</code>-tag or the <code>.text-help</code> class to underline single words where you want to provide additional information inside a tooltip. In forms use <code>&lt;i class="far fa-question-square"&gt;&lt;/i&gt;</code> to display an <i class="far fa-question-square text-primary"></i>-icon.</p>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Inline tooltip"></app-anchor-heading>
  <div class="card-body">
    <div class="alert alert-warning alert-icon"><strong>Javascript needed!</strong> Please note that the example below uses <a class="alert-link" href="https://sebgroup.github.io/ng-bootstrap/" target="_blank">@sebgroup/ng-bootstrap</a> which is a theme for <a class="alert-link" href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a> to display tooltips.</div>
    <app-example source="tooltip/inline/inline.component.html">
      <app-inline class="ex-example"></app-inline>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Tooltips in tables"></app-anchor-heading>
  <div class="card-body">
    <div class="alert alert-warning alert-icon"><strong>Javascript needed!</strong> Please note that the example below uses <a class="alert-link" href="https://sebgroup.github.io/ng-bootstrap/" target="_blank">@sebgroup/ng-bootstrap</a> which is a theme for <a class="alert-link" href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a> to display tooltips.</div>
    <app-example source="tooltip/table/table.component.html">
      <app-table class="ex-example"></app-table>
    </app-example>
  </div>
</div>
