<div class="toast toast-info show" role="alert" aria-live="assertive" aria-atomic="true">
  A neutral toast message.
</div>
<div class="toast toast-success show" role="alert" aria-live="assertive" aria-atomic="true">
  A success toast.
</div>
<div class="toast toast-warning show" role="alert" aria-live="assertive" aria-atomic="true">
  A warning message.
</div>
<div class="toast toast-danger show" role="alert" aria-live="assertive" aria-atomic="true">
  A toast for when something went wrong.
</div>
