<a name="buttonGroup"><h2 class="my-3">Button group</h2></a>
<div class="card mx-n3 mx-md-0">
  <div class="card-body">
    <p>Group buttons together using a button group, check <a href="https://getbootstrap.com/docs/4.2/components/button-group/" target="_blank">bootstrap docs</a> for more info and examples. Note that javascript is required to use button groups like radio buttons or checkboxes.</p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary">Left</button>
        <button type="button" class="btn btn-outline-primary">Middle</button>
        <button type="button" class="btn btn-outline-primary">Right</button>
      </div>
    <!--<exemplify [selector]="'.card-body > div'"></exemplify>-->
  </div>
</div>
