<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer border-top-0">
        <div class="form-row justify-content-between">
          <div class="col-12 col-sm-auto mb-3 mb-sm-0">
            <button class="btn btn-secondary w-100">Secondary</button>
          </div>
          <div class="col-12 col-sm-auto">
            <button class="btn btn-primary w-100">Primary</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a short card.</p>
      </div>
      <div class="card-footer border-top-0">
        <div class="form-row justify-content-between">
          <div class="col-12 col-sm-auto mb-3 mb-sm-0">
            <button class="btn btn-secondary w-100">Secondary</button>
          </div>
          <div class="col-12 col-sm-auto">
            <button class="btn btn-primary w-100">Primary</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer border-top-0">
        <div class="form-row justify-content-between">
          <div class="col-12 col-sm-auto mb-3 mb-sm-0">
            <button class="btn btn-secondary w-100">Secondary</button>
          </div>
          <div class="col-12 col-sm-auto">
            <button class="btn btn-primary w-100">Primary</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer border-top-0">
        <div class="form-row justify-content-between">
          <div class="col-12 col-sm-auto mb-3 mb-sm-0">
            <button class="btn btn-secondary w-100">Secondary</button>
          </div>
          <div class="col-12 col-sm-auto">
            <button class="btn btn-primary w-100">Primary</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
