<a name="buttons"><h2 class="my-3">Buttons</h2></a>
<app-include [components]="components"></app-include>
<div class="card mb-4 mx-n3 mx-md-0" id="buttonsExample">
  <h4 class="card-header">Button styles and modifiers</h4>
  <div class="card-body">
    <p>Bootstrap have a few different modifiers that can be used with buttons, we primarily use <code>.btn-primary</code>, <code>.btn-secondary</code> and <code>.btn-link</code>, use the latter to give buttons the same behavior as normal links (used for links placed outside text segments and paragraphs as well as actions similar to "go to" or regular links). You can also use the outline version if you want an "inverted" button with border. Note that we only support <code>.btn-primary</code>,<code>.btn-secondary</code>,<code>.btn-light</code>,<code>.btn-danger</code> and <code>.btn-dark</code> from bootstrap, if you use any of the others they will fall back to the primary style.</p>
    <label class="d-block">Standard</label>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-danger">Danger (delete)</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-link">Link</button>
    <label class="d-block mt-3">Outlined</label>
    <button type="button" class="btn btn-outline-primary">Primary outlined</button>
    <button type="button" class="btn btn-outline-danger">Danger outlined</button>
    <button type="button" class="btn btn-outline-danger border-transparent">Danger without border</button>
    <label class="d-block mt-3">Disabled</label>
    <button type="button" class="btn btn-primary disabled">Primary</button>
    <button type="button" class="btn btn-outline-primary disabled">Primary outlined</button>
    <button type="button" class="btn btn-secondary disabled">Secondary</button>
    <button type="button" class="btn btn-link disabled">Link</button>
    <exemplify [selector]="'#buttonsExample .btn:not(.disabled)'"></exemplify>
    <h4 class="card-header mt-3">Close button</h4>
    <div class="card-body" id="buttonCloseExample">
      <p>Add <code>.close</code> to a button to get correct style and icon for a close button. The button will be right aligned by default. Use inside modals and other components that can be closed.</p>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <exemplify [selector]="'#buttonCloseExample .close'"></exemplify>
    </div>
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0">

</div>
<div class="card mb-4 mx-n3 mx-md-0" id="buttonsLightExample">
  <h4 class="card-header">Buttons and colored backgrounds</h4>
  <div class="card-body">
    <p>The <code>.btn-light</code> and <code>.btn-dark</code> classes should only be used when buttons are placed on colored or dark backgrounds/images.</p>
    <div class="row align-items-center no-gutters">
      <div class="col-6 col-md-4 col-lg bg-primary-element py-4 text-center">
        <button class="btn btn-light">Light</button>
      </div>
      <div class="col-6 col-md-4 col-lg bg-info-element py-4 text-center">
        <button class="btn btn-light">Light</button>
      </div>
      <div class="col-6 col-md-4 col-lg bg-success-element py-4 text-center">
        <button class="btn btn-light">Light</button>
      </div>
      <div class="col-6 col-md-4 col-lg bg-warning-element py-4 text-center">
        <button class="btn btn-dark">Dark</button>
      </div>
      <div class="col-6 col-md-4 col-lg bg-danger-element py-4 text-center">
        <button class="btn btn-light">Light</button>
      </div>
      <div class="col-6 col-md-4 col-lg bg-secondary-element py-4 text-center">
        <button class="btn btn-dark">Dark</button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0" id="buttonsGridExample">
  <h4 class="card-header">Responsive design and buttons</h4>
  <div class="card-body">
    <p>If you look at the example above on smaller screen you'll notice that the buttons won't stack nicely. To have full control and to create a good experience on mobile devices and tablets consider placing buttons in a grid.</p>
    <div class="row no-gutters">
      <div class="col-12 col-sm-4 col-md-auto mb-3 mb-md-0 pr-sm-2 pr-md-0">
        <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">100% (col-12)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
      </div>
      <div class="col-6 col-sm-4 col-md-auto mb-3 mb-md-0 pr-2 px-sm-2 px-md-3">
        <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">50% (col-6)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
      </div>
      <div class="col-6 col-sm-4 col-md-auto mb-3 mb-md-0 pl-2 pl-md-0">
        <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">50% (col-6)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
      </div>
      <div class="col col-sm-4 col-md-auto mb-3 mb-md-0 pr-2 px-md-3">
        <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">1/3 (col)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
      </div>
      <div class="col col-sm-4 col-md-auto mb-3 mb-md-0 px-2 pl-md-0">
        <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">1/3 (col)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
      </div>
      <div class="col col-sm-4 col-md-auto mb-3 mb-md-0 pl-2">
        <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">1/3 (col)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
      </div>
    </div>
    <exemplify [selector]="'#buttonsGridExample .card-body > .row'"></exemplify>
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0" id="buttonsIconExample">
  <h4 class="card-header">Icons in buttons</h4>
  <div class="card-body">
    <p>Example with icon, note the alignment on mobile devices (smaller screens) using a grid.</p>
    <div class="row no-gutters">
      <div class="col-12 col-sm-auto">
        <button type="button" class="btn btn-primary w-100">
          <div class="row no-gutters">
            <div class="col text-left">Go to next page</div>
            <div class="col-auto ml-sm-2"><i class="far fa-arrow-right"></i></div>
          </div>
        </button>
      </div>
    </div>
    <exemplify [selector]="'#buttonsIconExample .card-body > .row'"></exemplify>
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0" id="additionalButtonsExample">
  <h4 class="card-header">Alternative buttons</h4>
  <div class="card-body">
    <p>Since SEB Style is a theme for Bootstrap and Bootstrap has some additional button classes to differentiate the severity or the meaning of a button like <code>.btn-success</code> please note that they'll fallback to the default style.</p>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <exemplify [selector]="'#additionalButtonsExample .btn:not(.disabled)'"></exemplify>
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0" id="smallButtonsExample">
  <h4 class="card-header">Sizing</h4>
  <div class="card-body">
    <p>Add <code>.btn-sm</code> for smaller buttons and <code>.btn-lg</code> for larger buttons.</p>
    <button type="button" class="btn btn-sm btn-primary">Small primary</button>
    <button type="button" class="btn btn-sm btn-secondary">Small secondary</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-lg btn-primary">Large primary</button>
    <button type="button" class="btn btn-lg btn-secondary">Large secondary</button>
    <exemplify [selector]="'#smallButtonsExample .btn:not(.disabled)'"></exemplify>
  </div>
</div>
