<a name="buttons"><h2 class="my-3">Datepicker</h2></a>
<!--<app-include [components]="components"></app-include>-->
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Datepicker"></app-anchor-heading>
  <div class="card-body">
    <div class="alert alert-warning alert-icon"><strong>Framework needed!</strong> Please note that you need to install <a class="alert-link" href="https://sebgroup.github.io/ng-bootstrap/" target="_blank">@sebgroup/ng-bootstrap</a> which is a theme for <a class="alert-link" href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a> in order to use the datepickers in this example.</div>
    <p class="mb-3">For more info and examples please refer to ng-bootstrap <a href="https://ng-bootstrap.github.io/#/components/datepicker/overview" target="_blank">official documentation</a>.</p>
    <app-example title="Standard"
                 source="datepicker/standard/standard.component.html">
      <app-standard class="ex-example"></app-standard>
    </app-example>
  </div>
</div>
