<a name="tables"><h2 class="my-3">Tables</h2></a>
<div class="alert alert-info mx-n3 mx-md-0"><strong>Want more table features?</strong> The examples below shows the markup and classes needed when using standard html tables, if you're using angular and want support for sorting, filtering, search, export to CSV etc. please check out <a class="alert-link" href="https://hjalmers.github.io/angular-generic-table/" target="_blank">Angular Generic Table</a>.</div>
<div class="row">
  <div class="col-md-6 mb-4">
    <h4>
      Standard table
    </h4>
    <div class="card mx-n3 mx-md-0" id="tableExample">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
        <exemplify [sources]="[{name:'markup', src: '<table class=&quot;table&quot;>...</table>', lang:'markup'}]"></exemplify>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <h4>
      Striped rows
    </h4>
    <div class="card mx-n3 mx-md-0" id="tableExampleStriped">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
        <exemplify [sources]="[{name:'markup', src: '<table class=&quot;table table-striped&quot;>...</table>', lang:'markup'}]"></exemplify>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <h4>Bordered table</h4>
    <div class="card mx-n3 mx-md-0" id="tableExampleBordered">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@TwBootstrap</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
        <exemplify [sources]="[{name:'markup', src: '<table class=&quot;table table-bordered&quot;>...</table>', lang:'markup'}]"></exemplify>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <h4>Hoverable rows</h4>
    <div class="card mx-n3 mx-md-0" id="tableExampleHover">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>The bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
        <exemplify [sources]="[{name:'markup', src: '<table class=&quot;table table-hover&quot;>...</table>', lang:'markup'}]"></exemplify>
      </div>
    </div>
  </div>
  <div class="clearfix hidden-sm-down"></div>
  <div class="col-md-6 mb-4">
    <h4>Small table</h4>
    <div class="card mx-n3 mx-md-0" id="tableExampleSmall">
      <div class="card-body">
        <table class="table table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>The bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
        <exemplify [sources]="[{name:'markup', src: '<table class=&quot;table table-sm&quot;>...</table>', lang:'markup'}]"></exemplify>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <h4>Expanded row</h4>
    <div class="card mx-n3 mx-md-0" id="tableExampleExpand">
      <div class="card-body">
        <table class="table table-sm table-expandable">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr class="row-open">
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr class="row-expanded">
          <td colspan="3">This row is expanded</td>
        </tr>
        <tr>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
        <exemplify [sources]="[{name:'markup', src: '<table class=&quot;table table-expandable&quot;>...</table>', lang:'markup'}]"></exemplify>
      </div>
    </div>
  </div>
</div>
