<div class="card-columns">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="form-row justify-content-between">
        <div class="col-12 col-sm-auto mb-3 mb-sm-0">
          <button class="btn btn-secondary w-100">Secondary</button>
        </div>
        <div class="col-12 col-sm-auto">
          <button class="btn btn-primary w-100">Primary</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a short card.</p>
      <div class="form-row justify-content-between">
        <div class="col-12 col-sm-auto mb-3 mb-sm-0">
          <button class="btn btn-secondary w-100">Secondary</button>
        </div>
        <div class="col-12 col-sm-auto">
          <button class="btn btn-primary w-100">Primary</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      <div class="form-row justify-content-between">
        <div class="col-12 col-sm-auto mb-3 mb-sm-0">
          <button class="btn btn-secondary w-100">Secondary</button>
        </div>
        <div class="col-12 col-sm-auto">
          <button class="btn btn-primary w-100">Primary</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="form-row justify-content-between">
        <div class="col-12 col-sm-auto mb-3 mb-sm-0">
          <button class="btn btn-secondary w-100">Secondary</button>
        </div>
        <div class="col-12 col-sm-auto">
          <button class="btn btn-primary w-100">Primary</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="form-row justify-content-between">
        <div class="col-12 col-sm-auto mb-3 mb-sm-0">
          <button class="btn btn-secondary w-100">Secondary</button>
        </div>
        <div class="col-12 col-sm-auto">
          <button class="btn btn-primary w-100">Primary</button>
        </div>
      </div>
    </div>
  </div>
</div>
