@mixin alert-variant($background, $border, $color) {
  color: color-yiq($background);
  @include gradient-bg($background);
  border-color: $border;

  hr {
    border-top-color: $white; // border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: color-yiq($background);
    text-decoration: underline;
    &:hover {
      color: $link-hover-color;
    }
  }
}

@mixin alert-outline-variant($background, $border, $color) {
  background: $white;
  border: solid 1px $background;
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: $link-color;
  }
  .alert-heading {
    background: $background;
    color: color-yiq($background);
    margin: -$alert-padding-x;
    margin-bottom: $alert-padding-x;
    padding: $alert-padding-x;
  }
}
