<!-- normal layout -->
<div class="border-danger border rounded p-3 d-inline-block">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input is-invalid" id="customCheck">
    <label class="custom-control-label" for="customCheck">Check this custom checkbox</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input is-invalid" id="customCheck2">
    <label class="custom-control-label" for="customCheck2">Or this one</label>
  </div>
</div>
<div class="small text-danger mt-1"><i class="far fa-exclamation-triangle mr-1"></i>You need to select one</div>

<!-- horizontal layout -->
<div class="border-danger border rounded p-3 d-inline-block">
  <div class="row">
    <div class="col-12 col-md-auto mb-2 mb-md-0">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input is-invalid" id="customCheckInline">
        <label class="custom-control-label" for="customCheckInline">Check this custom checkbox</label>
      </div>
    </div>
    <div class="col-12 col-md-auto mb-2 mb-md-0">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input is-invalid" id="customCheckInline1">
        <label class="custom-control-label" for="customCheckInline1">And this one</label>
      </div>
    </div>
    <div class="col-12 col-md-auto">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input is-invalid" id="customCheckInline2">
        <label class="custom-control-label" for="customCheckInline2">Don't forget me</label>
      </div>
    </div>
  </div>
</div>
<div class="small text-danger mt-1"><i class="far fa-exclamation-triangle mr-1"></i>You need to select one</div>

<!-- normal layout success -->
<div class="border-success border rounded p-3 d-inline-block">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input is-valid" id="customSuccessCheck">
    <label class="custom-control-label" for="customSuccessCheck">Check this custom checkbox</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input is-valid" id="customSuccessCheck2" checked>
    <label class="custom-control-label" for="customSuccessCheck2">Or this one</label>
  </div>
</div>
<div class="small text-success mt-1"><i class="far fa-check-circle mr-1"></i>All is good!</div>
