<div class="row no-gutters">
  <div class="col-12 col-sm-4 col-md-auto mb-3 mb-md-0 pr-sm-2 pr-md-0">
    <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">100% (col-12)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
  </div>
  <div class="col-6 col-sm-4 col-md-auto mb-3 mb-md-0 pr-2 px-sm-2 px-md-3">
    <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">50% (col-6)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
  </div>
  <div class="col-6 col-sm-4 col-md-auto mb-3 mb-md-0 pl-2 pl-md-0">
    <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">50% (col-6)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
  </div>
  <div class="col col-sm-4 col-md-auto mb-3 mb-md-0 pr-2 px-md-3">
    <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">1/3 (col)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
  </div>
  <div class="col col-sm-4 col-md-auto mb-3 mb-md-0 px-2 pl-md-0">
    <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">1/3 (col)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
  </div>
  <div class="col col-sm-4 col-md-auto mb-3 mb-md-0 pl-2">
    <button type="button" class="btn btn-primary w-100"><span class="d-sm-none">1/3 (col)</span><span class="d-none d-sm-block d-md-none">1/3 (col-sm-4)</span><span class="d-none d-md-block">col-md-auto</span></button>
  </div>
</div>
