<div class="overflow-auto mb-3">
<table class="table mb-0">
  <thead>
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Birthday</th>
    <th>Favorite pet</th>
    <th>Favorite planet</th>
    <th>Favorite food</th>
    <th>Favorite TV show</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>lorem@ipsum.com</td>
    <td>2000-01-01</td>
    <td>Elephant</td>
    <td>Mars</td>
    <td>Spaghetti Bolognese</td>
    <td>Game of Thrones</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>dolar@sit.se</td>
    <td>2000-12-24</td>
    <td>Unicorn</td>
    <td>Venus</td>
    <td>American Pancakes with maple syrup</td>
    <td>Desperate House Wives</td>
  </tr>
  </tbody>
</table>
</div>
