<div class="row">
  <div class="col-12 col-md-auto mb-2 mb-md-0">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheckInline">
      <label class="custom-control-label" for="customCheckInline">Check this custom checkbox</label>
    </div>
  </div>
  <div class="col-12 col-md-auto mb-2 mb-md-0">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheckInline1">
      <label class="custom-control-label" for="customCheckInline1">And this one</label>
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheckInline2">
      <label class="custom-control-label" for="customCheckInline2">Don't forget me</label>
    </div>
  </div>
</div>
