<a name="buttons"><h2 class="my-3">Forms</h2></a>
<app-include [components]="components"></app-include>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Forms"></app-anchor-heading>
  <div class="card-body">
    <p>Below you'll find some examples of forms and different form elements, check <a href="https://getbootstrap.com/docs/4.0/components/forms/#overview" target="_blank">bootstrap docs</a> for more info and examples.</p>
    <!--<app-example title="Standard"
                 source="cards/standard/standard.component.html">
      <app-standard class="ex-example bg-light d-block p-4"></app-standard>
    </app-example>-->
    Coming soon!
  </div>
</div>
