<a name="breadcrumbs"><h2 class="my-3">Breadcrumbs</h2></a>
<div class="card mb-4 mx-n3 mx-md-0">
  <div class="card-body">
    <p>Use breadcrumbs to leave a trace so that the users can find their way back when navigating the app. On mobile devices only the second to last item will be displayed together with a back icon, resize the browser to see it live.</p>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Library</li>
    </ol>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active">Data</li>
    </ol>
    <exemplify [selector]="'.breadcrumb'"></exemplify>
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0">
  <h4 class="card-header">Breadcrumbs on dark or colored backgrounds</h4>
  <div class="card-body">
    <p>For better contrast against dark and colored backgrounds add the <code>.breadcrumbs-light</code> class to the breadcrumb element.</p>
    <div class="alert bg-info-element">
      <ol class="breadcrumb breadcrumb-light">
        <li class="breadcrumb-item active">Home</li>
      </ol>
      <ol class="breadcrumb breadcrumb-light">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Library</li>
      </ol>
      <ol class="breadcrumb breadcrumb-light">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </div>
    <exemplify [selector]="'.breadcrumb'"></exemplify>
  </div>
</div>
