<div class="row">
  <div class="col-12 col-sm-auto">
    <div class="alert alert-info alert-icon w-100" role="alert">
      <div class="row no-gutters justify-content-end">
        <div class="col-auto">
          <p class="mb-0 "><strong>Heads up!</strong> This is a info alert with two small buttons and a long lorem ipsum text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean accumsan urna at dui porttitor lacinia. Suspendisse sed maximus ligula.</p>
        </div>
        <div class="col-12 col-sm-auto pl-sm-3 mt-2 mt-sm-0">
          <div class="form-row">
            <div class="col">
              <button class="btn btn-sm btn-dark w-100">Dark button</button>
            </div>
            <div class="col">
              <button class="btn btn-sm btn-dark w-100">Dark button</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-auto">
    <div class="alert alert-success alert-icon w-100" role="alert">
      <div class="row no-gutters justify-content-end">
        <div class="col-auto">
          <p class="mb-0 "><strong>Well done!</strong> This is a success alert with a small button.</p>
        </div>
        <div class="col-12 col-sm-auto pl-sm-3 mt-2 mt-sm-0">
          <button class="btn btn-sm btn-light w-100">Light button</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-auto">
    <div class="alert alert-warning alert-icon w-100" role="alert">
      <div class="row no-gutters justify-content-end">
        <div class="col-auto">
          <p class="mb-0 "><strong>Warning!</strong> This is a warning alert with two small buttons.</p>
        </div>
        <div class="col-12 col-sm-auto pl-sm-3 mt-2 mt-sm-0">
          <div class="form-row">
            <div class="col">
              <button class="btn btn-sm btn-dark w-100">Dark button</button>
            </div>
            <div class="col">
              <button class="btn btn-sm btn-dark w-100">Dark button</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-auto">
    <div class="alert alert-danger alert-icon w-100" role="alert">
      <div class="row no-gutters justify-content-end">
        <div class="col-auto">
          <p class="mb-0 "><strong>Oh snap!</strong> This is a danger alert with a small button.</p>
        </div>
        <div class="col-12 col-sm-auto pl-sm-3 mt-2 mt-sm-0">
          <button class="btn btn-sm btn-light w-100">Light button</button>
        </div>
      </div>
    </div>
  </div>
</div>
