<div class="card mb-4 mx-n3 mx-sm-0">
  <app-anchor-heading heading="Include {{component.title}} in your project"></app-anchor-heading>
  <div class="card-body">
    <p>The {{component.fileName}} {{type}} {{type === 'styles' ? 'are' : 'is'}} included by default if you import <code>'~@sebgroup/bootstrap/scss/bootstrap'</code> in your project (import to styles.scss if you're using angular-cli), to optimize your app you should however only import the parts you need (see import with minimal dependencies below).</p>
    <button class="btn btn-link position-absolute" (click)="copyToClipboard(snip)">Copy <fa-icon icon="copy"></fa-icon></button>
    <ul class="nav nav-tabs mb-0">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeSnippet === 'default'" href="#" (click)="showSnippet($event, 'default')">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeSnippet === 'minimal'" href="#" (click)="showSnippet($event,'minimal')">Minimal dependencies</a>
      </li>
    </ul>
    <div [innerHTML]="importContent"></div>
  </div>
</div>
