<label for="prependBtn">Prepend single button</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-secondary" type="button">Button</button>
  </div>
  <input id="prependBtn" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<label for="appendBtn">Append two buttons</label>
<div class="input-group mb-3">
  <input id="appendBtn" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-secondary" type="button">Clear</button>
    <button class="btn btn-primary" type="button">Ok</button>
  </div>
</div>
<label for="appendStatic">Append text/static content</label>
<div class="input-group mb-3">
  <input id="appendStatic" type="text" class="form-control" aria-label="Card number" placeholder="____ ____ ____ ____" maxlength="16">
  <div class="input-group-append">
          <span class="input-group-text">
            <i class="far fa-credit-card"></i>
          </span>
  </div>
</div>
<label for="appendPrependStatic">Append and prepend text/static content</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-dollar-sign"></i>
          </span>
  </div>
  <input id="appendPrependStatic" type="number" class="form-control text-right" aria-label="Amount">
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>
<label for="appendBtnIcon">Append button with icon</label>
<div class="input-group mb-3">
  <input id="appendBtnIcon" type="text" class="form-control" aria-label="Date" placeholder="yyyy-mm-dd">
  <div class="input-group-append">
    <button class="btn btn-secondary" type="button">
      <i class="far fa-calendar-alt"></i>
    </button>
  </div>
</div>
