<h5>Without delay (default)</h5>
<div class="row">
  <div class="col">
    <div class="skeleton-loader skeleton-loader-fill-sm"></div>
  </div>
  <div class="col">
    <div class="skeleton-loader skeleton-loader-fill-sm"></div>
  </div>
  <div class="col">
    <div class="skeleton-loader skeleton-loader-fill-sm"></div>
  </div>
  <div class="col">
    <div class="skeleton-loader skeleton-loader-fill-sm"></div>
  </div>
</div>
<h5 class="mt-4">With delay</h5>
<div class="row">
  <div class="col">
    <div class="skeleton-loader skeleton-loader-fill-sm"></div>
  </div>
  <div class="col">
    <div class="skeleton-loader skeleton-loader-fill-sm delay-1"></div>
  </div>
  <div class="col">
    <div class="skeleton-loader skeleton-loader-fill-sm delay-2"></div>
  </div>
  <div class="col">
    <div class="skeleton-loader skeleton-loader-fill-sm delay-3"></div>
  </div>
</div>
