<a name="forms"><h2 class="px-3 px-md-0 my-3">Forms</h2></a>
<p class="px-3 px-md-0">Below you'll find some examples of forms and different form elements, check <a href="https://getbootstrap.com/docs/4.0/components/forms/#overview" target="_blank">bootstrap docs</a> for more info and examples.</p>
<div class="card mb-4" id="formExample">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="custom-select" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="custom-select" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Example textarea</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="customFile">File input</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" (change)="handleFileInput($event.target.files)">
          <label class="custom-file-label" for="customFile" aria-describedby="customFileHelp">{{fileName}}</label>
          <small id="customFileHelp" class="form-text text-muted">Please note that this example requires additional javascript for the file name to appear.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <exemplify [selector]="'#formExample form'"></exemplify>
  </div>
</div>
<h2 class="px-3 px-md-0">Form layouts</h2>
<p class="px-3 px-md-0">Since Bootstrap applies <code>display: block</code> and <code>width: 100%</code> to almost all our form controls, forms will by default stack vertically. Additional classes can be used to vary this layout on a per-form basis.
</p>
<div class="card mb-4" id="formExampleGroups">
  <h4 class="card-header">Form groups</h4>
  <div class="card-body">
    <p>The <code>.form-group</code> class is the easiest way to add some structure to forms. Its only purpose is to provide <code>margin-bottom</code> around a label and control pairing. As a bonus, since it’s a class you can use it with <code>&lt;fieldset&gt;</code>s, <code>&lt;div&gt;</code>s, or nearly any other element.</p>
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>
    </form>
    <exemplify [selector]="'#formExampleGroups form'"></exemplify>
  </div>
</div>
<div class="card mb-4" id="formExampleGridSimple">
  <h4 class="card-header">Form grid</h4>
  <div class="card-body">
    <p>More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.</p>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
    </form>
    <exemplify [selector]="'#formExampleGridSimple form'"></exemplify>
  </div>
</div>
<div class="card mb-4" id="formExampleRowSimple">
  <h4 class="card-header">Form row</h4>
  <div class="card-body">
    <p>You may also swap <code>.row</code> for <code>.form-row</code>, a variation of our standard grid row that overrides the default column gutters for tighter and more compact layouts.</p>
    <form>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
    </form>
    <exemplify [selector]="'#formExampleRowSimple form'"></exemplify>
  </div>
</div>
<div class="card mb-4" id="formExampleGridAdvanced">
  <h4 class="card-header">Using the grid system</h4>
  <div class="card-body">
    <p>More complex layouts can also be created with the grid system.</p>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="custom-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" id="gridCheck">
          <label class="custom-control-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <exemplify [selector]="'#formExampleGridAdvanced form'"></exemplify>
  </div>
</div>
<h2 class="px-3 px-md-0 mb-3">Custom forms</h2>
<div class="card mb-4" id="formExampleCustomCheckbox">
  <h4 class="card-header">Checkboxes</h4>
  <div class="card-body">
    <p>For even more customization and cross browser consistency, use custom form elements to replace the browser defaults. They’re built on top of semantic and accessible markup, so they’re solid replacements for any default form control.</p>
    <form>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
      </div>
    </form>
    <exemplify [selector]="'#formExampleCustomCheckbox .custom-control'"></exemplify>
  </div>
</div>
<div class="card mb-4" id="formExampleCustomRadio">
  <h4 class="card-header">Radios</h4>
  <div class="card-body">
    <form>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
      </div>
    </form>
    <exemplify [selector]="'#formExampleCustomRadio .custom-control'"></exemplify>
  </div>
</div>
<h2 class="px-3 px-md-0 mb-3">Control sizing</h2>
<div class="card mb-4" id="formExampleSizing">
  <div class="card-body">
    <p>Set heights using classes like <code>.form-control-lg</code>, and set widths using grid column classes like <code>.col-lg-*</code>.</p>
    <h4 class="mt-3">Inputs</h4>
    <input class="form-control form-control-lg mb-2" type="text" placeholder=".form-control-lg">
      <input class="form-control mb-2" type="text" placeholder="Default input">
      <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
    <exemplify [selector]="'#formExampleSizing input'"></exemplify>
    <h4 class="mt-3">Selects</h4>
      <select class="custom-select custom-select-lg mb-2">
        <option>Large select</option>
      </select>
      <select class="custom-select mb-2">
        <option>Default select</option>
      </select>
      <select class="custom-select custom-select-sm">
        <option>Small select</option>
      </select>
      <exemplify [selector]="'#formExampleSizing select'"></exemplify>
  </div>
</div>
<h2 class="px-3 px-md-0 mb-3">Validation</h2>
<div class="card mb-4">
  <div class="card-body">
    <p>The example below is just a static example of different validation errors. In short bootstrap uses native <code>:invalid</code> and <code>:valid</code> form states together with <code>.was-validated</code> (usually applied to form) to apply the styles and it's also possible to use <code>.is-invalid</code>, <code>.is-valid</code> and <code>.invalid-feedback</code> when validated on the sever. More examples will be added in the future and in most cases validation will be enhanced through a framework like Angular or React which also complicates things a bit,, but we'll try to add real examples soon.</p>
    <form>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer01">First name</label>
          <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer02">Last name</label>
          <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServerUsername">Username</label>
          <div class="input-group">
            <div class="input-group-prepend is-invalid">
              <span class="input-group-text" id="inputGroupPrepend3">@</span>
            </div>
            <input type="text" class="form-control is-invalid input-border-right" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer03">City</label>
          <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationServer04">State</label>
          <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationServer05">Zip</label>
          <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer06">Other</label>
          <textarea class="form-control is-invalid" rows="3" id="validationServer06" placeholder="Text" required></textarea>
          <div class="invalid-feedback">
            Please add a comment.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationServer07">Select</label>
          <select class="custom-select is-invalid" id="validationServer07"><option>Invalid dropdown</option></select>
          <div class="invalid-feedback">
            Please choose something.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationServer07">Dropdown</label>
          <div ngbDropdown class="is-invalid">
            <button class="btn btn-outline-primary w-100" id="dropdownExample" ngbDropdownToggle>{{selected ? selected:'select...'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownExample" class="w-100 mb-3">
              <button *ngFor="let option of options" class="dropdown-item" (click)="selected = option" [ngClass]="{'active':selected === option}">{{option}}</button>
            </div>
          </div>
          <div class="invalid-feedback">
            Please choose something.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12 col-md-auto">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input is-invalid" id="invalidCheck3">
            <label class="custom-control-label" for="invalidCheck3">Agree to terms and conditions</label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12 col-md-auto">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input is-invalid" id="customControlValidation2" name="radio-stacked" required>
            <label class="custom-control-label" for="customControlValidation2">Toggle this custom radio</label>
          </div>
          <div class="custom-control custom-radio mb-3">
            <input type="radio" class="custom-control-input is-invalid" id="customControlValidation3" name="radio-stacked" required>
            <label class="custom-control-label" for="customControlValidation3">Or toggle this other custom radio</label>
            <div class="invalid-feedback">Please choose one.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <div class="alert alert-outline-danger">
            <h5 class="alert-heading">Make sure you've entered the correct information</h5>
            Here's a perfect place to explain what's wrong!
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
  </div>
</div>
<h2 class="px-3 px-md-0 mb-3">Advanced validation with progress</h2>
<div class="card mb-4 angular-validation">
  <div class="card-body">
    <p>Basic validation rules like <code>required</code>, <code>minlength</code> and <code>pattern</code> etc. provided by HTML and browsers natively for inputs are awesome for validation but they're not that user friendly or intuitive. Using a framework like Angular we can enhance the native behavior and extend it with our on validation rules. In the following example we've made it a bit more clever just showing one error at a time and we've also added custom validation for personal identity number.</p>
    <p>Validation progress can be shown by applying one of the following classes to the feedback element: <code>progress-0</code> for 0%, <code>progress-10</code> for 10%, <code>progress-20</code> for 20% and so on up till 100%. There's also another type of feedback besides <code>invalid-feedback</code> and <code>valid-feedback</code> called <code>progress-feedback</code> that will change color depending on the p value provided.</p>
    <div class="alert alert-info"><strong>Framework needed!</strong> Please note that the examples below uses angular but similar behavior can be achieved using other frameworks as well.</div>
    <form #loginForm="ngForm" novalidate autocomplete="off">
      <div class="form-row">
        <div class="form-group col-12 col-sm-4 col-md-auto col-lg-3">
          <label for="personalIdInput">Personal Identity number</label>
          <input type="tel" [(ngModel)]="personalIdentityNumber"
                 [ngClass]="{'is-invalid':!personalIdentityNumberInput.valid && personalIdentityNumberInput.lostFocus, 'is-valid': personalIdentityNumberInput.valid}"
                 name="personalIdentityNumber"
                 autocomplete="new-password"
                 class="form-control"
                 id="personalIdInput"
                 aria-describedby="personalIdHelp"
                 #personalIdentityNumberInput="ngModel"
                 personalIdentityNumberCheck
                 placeholder="YYYYMMDDXXXX" required
                 (keydown)="onKeyDownPreventNonDigits($event)"
                 (keyup)="onValueChange()"
                 (change)="onValueChange()"
                 (focusout)="personalIdentityNumberInput.lostFocus = true">
          <div *ngIf="!personalIdentityNumberInput.lostFocus && !personalIdentityNumberInput.valid" class="{{'progress-feedback progress-success text-muted progress-' + Math.floor((personalIdentityNumber.length/1.2)) + (Math.floor((personalIdentityNumber.length/1.2)) === 0 ? '':'0')}}" id="personalIdHelp">Enter personal id, 10 digits</div>
          <div class="{{personalIdentityNumberInput.valid ? 'valid-feedback ' : 'invalid-feedback ' + 'progress-' + Math.floor((personalIdentityNumber.length/1.2)) + (Math.floor((personalIdentityNumber.length/1.2)) === 0 ? '':'0')}}">
            {{personalIdentityNumberInput.valid ? 'Looks good!' : (personalIdentityNumberInput.errors | validationMessage)}}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12 col-sm-4 col-md-auto col-lg-3">
          <label for="passwordId">Create password</label>
          <input type="password" [(ngModel)]="password"
                 [ngClass]="{'is-invalid':!passwordInput.valid && passwordInput.lostFocus}"
                 autocomplete="new-password"
                 name="password"
                 class="form-control"
                 id="passwordId"
                 aria-describedby="passwordHelp"
                 #passwordInput="ngModel" required
                 maxlength="10"
                 minlength="4"
                 (focusout)="passwordInput.lostFocus = true">
          <div class="{{(password.length <= 3 && passwordInput.lostFocus ? 'invalid':'progress') + '-feedback progress-' + (password.length === 0 ? '0': password.length <= 4 ? '10': (password.length <= 6 ? '30': (password.length <= 8 ? '60': (password.length < 10 ? '100': '100'))))}}" id="passwordHelp">{{password.length === 0 ? 'Enter desired password': (password.length <= 3 ? 'To short': (password.length <= 6 ? 'Weak password': (password.length <= 8 ? 'Okay password': (password.length <= 10 ? 'Strong password': ''))))}}</div>
        </div>
      </div>
    </form>
  </div>
</div>
