<div class="row">
  <div class="col-12 col-md-auto mb-2 mb-md-0">
    <div class="custom-control custom-radio">
      <input type="radio" name="radioGrid" class="custom-control-input" id="customRadioInline">
      <label class="custom-control-label" for="customRadioInline">Select this custom radio button</label>
    </div>
  </div>
  <div class="col-12 col-md-auto mb-2 mb-md-0">
    <div class="custom-control custom-radio">
      <input type="radio" name="radioGrid" class="custom-control-input" id="customRadioInline1">
      <label class="custom-control-label" for="customRadioInline1">And this one</label>
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="custom-control custom-radio">
      <input type="radio" name="radioGrid" class="custom-control-input" id="customRadioInline2">
      <label class="custom-control-label" for="customRadioInline2">Don't forget me</label>
    </div>
  </div>
</div>
