<a name="buttons"><h2 class="my-3">Navbar</h2></a>
<app-include [components]="components"></app-include>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Standard navbar"></app-anchor-heading>
  <div class="card-body">
    <p>Most applications won't need the navbar as the navbar will be provided by the application shell, however there might be cases where you need a standalone navbar/header for your app. For more examples please visit <a href="http://getbootstrap.com/docs/4.5/components/navbar/" target="_blank">official bootstrap docs</a>.</p>
    <app-example title="Standard"
                 source="navbar/standard/standard.component.html">
      <app-standard class="ex-example"></app-standard>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="White navbar"></app-anchor-heading>
  <div class="card-body">
    <app-example title="White"
                 source="navbar/white/white.component.html">
      <app-white class="ex-example"></app-white>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Light navbar"></app-anchor-heading>
  <div class="card-body">
    <app-example title="Light"
                 source="navbar/light/light.component.html">
      <app-light class="ex-example"></app-light>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Navbar with search"></app-anchor-heading>
  <div class="card-body">
    <app-example title="Search"
                 source="navbar/search/search.component.html">
      <app-search class="ex-example"></app-search>
    </app-example>
  </div>
</div>
