<a name="tooltips"><h2 class="my-3">Tooltips</h2></a>
<div class="alert alert-warning alert-icon mx-n3 mx-md-0"><strong>Framework needed!</strong> Please note that the example below is just a representation of how the tooltips look and the needed markup. In order to use tooltips you need a framework to control when and how to show tooltips. If you're using angular, please take a look at <a class="alert-link" href="https://sebgroup.github.io/ng-bootstrap/" target="_blank">@sebgroup/ng-bootstrap</a> which is a theme for <a class="alert-link" href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a>.</div>
<div class="card mb-4 mx-n3 mx-md-0" id="tooltipsExample">
  <div class="card-body bg-secondary">
      <div class="tooltip bs-tooltip-top" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the top
        </div>
      </div>
      <div class="tooltip bs-tooltip-right" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the right
        </div>
      </div>
      <div class="tooltip bs-tooltip-bottom" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the bottom
        </div>
      </div>
      <div class="tooltip bs-tooltip-left" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the left
        </div>
      </div>
  </div>
  <div class="card-body pt-0">
    <!--<exemplify [selector]="'#tooltipsExample .card-body > .tooltip'"></exemplify>-->
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0">
  <h4 class="card-header">Usage and highlighting</h4>
  <div class="card-body">
    <p>Use the traditional <code>&lt;abbr&gt;</code>-tag or the <code>.text-help</code> class to underline single words where you want to provide additional information inside a tooltip. In forms use <code>&lt;i class="far fa-question-square"&gt;&lt;/i&gt;</code> to display an <i class="far fa-question-square text-primary"></i>-icon.</p>
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0" id="tooltipExample">
  <h4 class="card-header">Angular tooltip usage</h4>
  <div class="card-body">
    <h5 class="card-title">Tooltip within text</h5>
    <p>
      Lorem ipsum dolor sit amet, <abbr placement="top" ngbTooltip="Consectētur, third-person singular present active subjunctive of consector." container="body">consectetur</abbr> adipiscing elit. Mauris in justo id eros mattis aliquet non vel orci. Cras a pulvinar enim, congue pretium velit. Donec ut bibendum felis, vel ultricies metus. Suspendisse <span class="text-help" placement="top" ngbTooltip="This time we've used the class 'text-help' to dash underline condimentum." container="body">condimentum</span> magna vitae orci facilisis, nec lacinia elit semper.
    </p>
    <!--<exemplify [selector]="'#tooltipExample > .card-body > p'" [escapeStrings]="[' ngbTooltip',' ngClass', '[ngClass]']"></exemplify>-->
  </div>
  <div class="card-body">
    <h5 class="card-title">Tooltip inside table</h5>
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th><span class="text-help" ngbTooltip="This column shows first names." container="body">First Name</span></th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td><span class="text-help" ngbTooltip="The name is Mark." container="body">Mark</span></td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><span class="text-help" ngbTooltip="The name is Jacob." container="body">Jacob</span></td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><span class="text-help" ngbTooltip="The name is Larry." container="body">Larry</span></td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
    <!--<exemplify [selector]="'#tooltipExample .card-body .table'" [escapeStrings]="[' ngbTooltip',' ngClass', '[ngClass]']"></exemplify>-->
  </div>
</div>
