<a name="buttons"><h2 class="my-3">Spinners</h2></a>
<app-include [components]="components"></app-include>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Standard loading spinner"></app-anchor-heading>
  <div class="card-body">
    <p>Loading spinner to indicate that something is loading.</p>
    <app-example title="Standard"
                 source="spinner/standard/standard.component.html">
      <app-standard class="ex-example"></app-standard>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Loading spinner in buttons"></app-anchor-heading>
  <div class="card-body">
    <p>Loading spinners can be used in buttons to indicate that an action has been executed and that we're waiting for something to happen before enabling the button again.</p>
    <app-example source="spinner/button/button.component.html">
      <app-button class="ex-example"></app-button>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Spinners on other backgrounds"></app-anchor-heading>
  <div class="card-body">
    <p>Use utility class for background color <code>.bg-*</code> to spinner element when placed against other backgrounds.</p>
    <div class="bg-light p-3">
    <h5 class="mb-3">Light background <code>.bg-light</code></h5>
    <div class="row">
      <div class="col-auto">
        <div class="spinner spinner-xs bg-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-sm bg-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner bg-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-lg bg-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark p-3">
    <h5 class="text-white mb-3">Light background <code>.bg-dark</code></h5>
    <div class="row">
      <div class="col-auto">
        <div class="spinner spinner-xs bg-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-sm bg-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner bg-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-lg bg-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-warning p-3">
    <h5 class="mb-3">Warning background <code>.bg-warning</code></h5>
    <div class="row">
      <div class="col-auto">
        <div class="spinner spinner-xs bg-warning" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-sm bg-warning" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner bg-warning" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-lg bg-warning" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary p-3">
    <h5 class="mb-3 text-white">Primary background <code>.bg-primary</code></h5>
    <div class="row">
      <div class="col-auto">
        <div class="spinner spinner-xs bg-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-sm bg-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner bg-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-lg bg-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <p class="mt-3">And so on... spinners can be used on any solid background by adding a <code>bg-*</code> class either to the spinner element itself or to it's parent container. See available bg classes under the <a [routerLink]="'/colors'">colors section</a>.</p>
    <app-example source="spinner/background/background.component.html"></app-example>
  </div>
</div>
