<p>
  Lorem ipsum dolor sit amet, <abbr placement="top" ngbTooltip="Consectētur, third-person singular present active subjunctive of consector." container="body">consectetur</abbr> adipiscing elit. Mauris in justo id eros mattis aliquet non vel orci. Cras a pulvinar enim, congue pretium velit. Donec ut bibendum felis, vel ultricies metus. Suspendisse <span class="text-help" placement="top" ngbTooltip="This time we've used the class 'text-help' to dash underline condimentum." container="body">condimentum</span> magna vitae orci facilisis, nec lacinia elit semper.
</p>
