<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th><span class="text-help" ngbTooltip="This column shows first names." container="body">First Name</span></th>
    <th>Last Name</th>
    <th>Username</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td><span class="text-help" ngbTooltip="The name is Mark." container="body">Mark</span></td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td><span class="text-help" ngbTooltip="The name is Jacob." container="body">Jacob</span></td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td><span class="text-help" ngbTooltip="The name is Larry." container="body">Larry</span></td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>
