<div class="modal">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Scroll my content!</h4>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dui lectus, eleifend sit amet tincidunt eu, laoreet sit amet quam. Vestibulum convallis ornare augue, vel posuere mauris semper ut. Donec vestibulum neque ligula, id maximus lectus mattis nec. Duis dolor dolor, aliquet vitae auctor eget, semper ac nisl. Ut ac finibus enim. Ut neque purus, semper cursus blandit ut, pulvinar eu nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non aliquam quam, ut rhoncus eros.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dui lectus, eleifend sit amet tincidunt eu, laoreet sit amet quam. Vestibulum convallis ornare augue, vel posuere mauris semper ut. Donec vestibulum neque ligula, id maximus lectus mattis nec. Duis dolor dolor, aliquet vitae auctor eget, semper ac nisl. Ut ac finibus enim. Ut neque purus, semper cursus blandit ut, pulvinar eu nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non aliquam quam, ut rhoncus eros.</p>
      </div>
      <div class="modal-footer border-top">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
