<table class="table">
  <thead>
  <tr>
    <th class="sort">Sort enabled</th>
    <th class="sort sort-asc">Sort ascending</th>
    <th class="sort sort-desc">Sort descending</th>
    <th class="sort disabled">Sort disabled</th>
    <th>Default</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Not sorted</td>
    <td>Anthon</td>
    <td>30</td>
    <td>disabled</td>
    <td>Normal column</td>
  </tr>
  <tr>
    <td>Sort me</td>
    <td>Bruno</td>
    <td>20</td>
    <td>not sortable right now</td>
    <td>Not sortable</td>
  </tr>
  <tr>
    <td>I'm sortable</td>
    <td>Caesar</td>
    <td>10</td>
    <td>I'm disabled</td>
    <td>Fixed order</td>
  </tr>
  </tbody>
</table>
