<a name="buttons"><h2 class="my-3">Input groups</h2></a>
<!--<app-include [components]="components"></app-include>-->
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Input groups"></app-anchor-heading>
  <div class="card-body">
    <p>Place one add-on or button on either side of an input. You may also place one on both sides of an input. Use <code>.input-group-prepend</code> and/or <code>.input-group-append</code> inside an input group (<code>.input-group</code>), to group controls with an input field.</p>
    <app-example title="Examples"
                 source="input-group/standard/standard.component.html">
      <app-standard class="ex-example"></app-standard>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Stepper using input group"></app-anchor-heading>
  <div class="card-body">
    <p>Input groups can be used to create a lot of useful things like a stepper component.</p>
    <div class="alert alert-warning alert-icon"><strong>Javascript needed!</strong> Please note that the example below requires additional javascript not covered in this example.</div>
    <app-example title="Examples"
                 source="input-group/stepper/stepper.component.html">
      <app-stepper class="ex-example"></app-stepper>
    </app-example>
  </div>
</div>
