<a name="modals"><h2 class="px-3 px-md-0 my-3">Modals</h2></a>
<div class="alert alert-info"><strong>Framework needed!</strong> Please note that the examples below is just a representation of how modals look and the needed markup. In order to use modals you need a framework to control when and how to show them. If you're using angular, please take a look at <a class="alert-link" href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a> and their <a class="alert-link" href="https://ng-bootstrap.github.io/#/components/modal" target="_blank">modal component</a>.</div>
<div class="card" id="modalExample">
  <h4 class="card-header">Standard modal</h4>
  <div class="card-body bg-secondary px-0">
    <div class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <exemplify [selector]="'#modalExample .modal'"></exemplify>
  </div>
</div>
<div class="card my-3">
  <h4 class="card-header">Modal with backdrop</h4>
  <div class="card-body"><p>Below is a example of a standard modal opened with a backdrop.</p>
    <button class="btn btn-primary" (click)="modal = !modal">Open modal</button>
  </div>
  <div  class="modal" *ngIf="modal" style="display: block;opacity: 1;position: fixed;top: 0;right: 0;bottom: 0; left: 0;z-index: 1050;" (click)="modal = !modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" *ngIf="modal"></div>
</div>
<div class="card my-3">
  <h4 class="card-header">Aside modal</h4>
  <div class="card-body">
    <p>Add <code>modal-aside</code> class to the modal element together with either <code>modal-aside-right</code> or <code>modal-aside-left</code> to get a modal that will slide in from the side.<br>Ex. <code>&lt;div  class=&quot;modal modal-aside modal-aside-right&quot;&gt;...&lt;/div&gt;</code></p>
    <button class="btn btn-primary" (click)="slideModal = !slideModal">Open aside modal</button>
  </div>
  <div  class="modal modal-aside modal-aside-right" [ngClass]="{'active': slideModal}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="slideModal = !slideModal">Close</button>
          <button type="button" class="btn btn-primary" (click)="slideModal = !slideModal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card my-3">
  <h4 class="card-header">Fullscreen modal aka take-over</h4>
  <div class="card-body">
    <p>Add <code>modal-fullscreen</code> class to the modal element to get a fullscreen modal.<br>Ex. <code>&lt;div  class=&quot;modal modal-fullscreen&quot;&gt;...&lt;/div&gt;</code></p>
    <button class="btn btn-primary" (click)="takeOverModal = !takeOverModal">Open fullscreen modal</button>
  </div>
  <div  class="modal modal-fullscreen" *ngIf="takeOverModal" style="display: block;opacity: 1;position: fixed;top: 0;right: 0;bottom: 0; left: 0;z-index: 1050;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="takeOverModal = !takeOverModal">Close</button>
          <button type="button" class="btn btn-primary" (click)="takeOverModal = !takeOverModal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
