<a name="modals"><h2 class="my-3">Modals</h2></a>
<div class="alert alert-warning alert-icon mx-n3 mx-md-0"><strong>Framework needed!</strong> Please note that the examples below is just a representation of how modals look and the needed markup. In order to use modals you need a framework to control when and how to show them. If you're using angular, please take a look at <a class="alert-link" href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a> and their <a class="alert-link" href="https://ng-bootstrap.github.io/#/components/modal" target="_blank">modal component</a>.</div>
<div class="alert alert-warning alert-icon mx-n3 mx-md-0"><strong>Mobile development!</strong> To make the experience extra crisp on mobile devices and more specifically to avoid the issue with <a class="alert-link" href="https://www.google.com/search?q=content+scrolling+behind+modal" target="_blank">scrolling content behind the modal</a>, you should consider adding <a class="alert-link" href="https://github.com/willmcpo/body-scroll-lock" target="_blank">body scroll lock</a> to your project when implementing modals. An example implementation for angular can also be found on <a class="alert-link" href="https://stackblitz.com/edit/seb-modal-body-scroll-lock" target="_blank">stack blitz</a>.</div>
<div class="card mx-n3 mx-md-0" id="modalExample">
  <h4 class="card-header">Standard modal</h4>
  <div class="card-body bg-secondary px-0">
    <div class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <exemplify [selector]="'#modalExample .modal'"></exemplify>
  </div>
</div>
<div class="card my-3 mx-n3 mx-md-0">
  <h4 class="card-header">Modal with backdrop</h4>
  <div class="card-body"><p>Below is a example of a standard modal opened with a backdrop.</p>
    <div class="row">
      <div class="col-12 col-sm col-md-auto"><button class="btn btn-primary w-100" (click)="open(content)">Open modal</button></div>
      <div class="col-12 col-sm col-md-auto mt-3 mt-sm-0"><button class="btn btn-primary w-100" (click)="open(content, {size:'lg'})">Open large modal</button></div>
    </div>
  </div>
</div>
<div class="card my-3 mx-n3 mx-md-0">
  <h4 class="card-header">Aside modal</h4>
  <div class="card-body">
    <p>Add <code>modal-aside</code> class to the modal element together with either <code>modal-aside-right</code> or <code>modal-aside-left</code> to get a modal that will slide in from the side.<br>Ex. <code>&lt;div  class=&quot;modal modal-aside modal-aside-right&quot;&gt;...&lt;/div&gt;</code></p>
    <div class="row">
      <div class="col-12 col-sm col-md-auto"><button class="btn btn-primary w-100" (click)="open(content, {windowClass:'modal-aside modal-aside-right'})">Open aside modal</button></div>
      <div class="col-12 col-sm col-md-auto mt-3 mt-sm-0"><button class="btn btn-primary w-100" (click)="open(content, {windowClass:'modal-aside modal-aside-left'})">Open left aside modal</button></div>
    </div>
  </div>
  <div class="card-body">
    <h5>Large aside modal</h5>
    <p>Add <code>modal-lg</code> class to the modal dialogue together with the above classes to get a larger modal that will slide in from the side.</p>
    <div class="row">
      <div class="col-12 col-sm col-md-auto"><button class="btn btn-primary w-100" (click)="open(largeContent, {windowClass:'modal-aside modal-aside-right', size:'lg'})">Open aside modal</button></div>
      <div class="col-12 col-sm col-md-auto mt-3 mt-sm-0"><button class="btn btn-primary w-100" (click)="open(largeContent, {windowClass:'modal-aside modal-aside-left', size:'lg'})">Open left aside modal</button></div>
    </div>
  </div>
</div>
<div class="card my-3 mx-n3 mx-md-0">
  <h4 class="card-header">Fullscreen modal aka take-over</h4>
  <div class="card-body">
    <p>Add <code>modal-fullscreen</code> class to the modal element to get a fullscreen modal.<br>Ex. <code>&lt;div  class=&quot;modal modal-fullscreen&quot;&gt;...&lt;/div&gt;</code></p>
    <button class="btn btn-primary" (click)="open(content, {windowClass:'modal-fullscreen'})">Open fullscreen modal</button>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
  </div>
  <div class="modal-body">
    <p>Modal body text goes here.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save changes</button>
  </div>
</ng-template>
<ng-template #largeContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
  </div>
  <div class="modal-body">
    <p>Modal body text goes here.</p>
    <div class="bg-primary-element text-white align-self-center p-3" style="width: 600px; height: 600px;">
      <p class="lead font-weight-normal">The large aside modal will adjust it's width to the width of the content.<br/>
      Max width = 768px<br/>
      Min width = 320px
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save changes</button>
  </div>
</ng-template>
