<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" name="radio" id="customRadio1">
  <label class="custom-control-label" for="customRadio1">Select this custom radio button</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" name="radio" id="customRadio2">
  <label class="custom-control-label" for="customRadio2">Another option</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" name="radio" id="customRadioDisabled" disabled>
  <label class="custom-control-label" for="customRadioDisabled">This option is disabled</label>
</div>
