<a name="navbar"><h2 class="my-3">Navbar</h2></a>
<p class="lead px-3 px-md-0 mb-4">Most applications won't need the navbar as the navbar will be provided by the application shell, however there might be cases where you need a standalone navbar/header for your app. For more examples please visit <a href="http://getbootstrap.com/docs/4.4/components/navbar/" target="_blank">official bootstrap docs</a>.</p>
<div class="card mb-4 mx-n3 mx-md-0" id="navbarThemeExample">
  <h4 class="card-header">Color themes</h4>
  <div class="card-body">
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand" href="#">
        Bootstrap
      </span>
      <span class="navbar-text">
          Navbar text with an inline element
        </span>
    </nav>
    <exemplify [selector]="'#navbarThemeExample .navbar.navbar-dark.bg-dark'"></exemplify>
  </div>
  <div class="card-body">
    <nav class="navbar navbar-light bg-white">
      <span class="navbar-brand" href="#">
        Bootstrap
      </span>
      <span class="navbar-text">
          Navbar text with an inline element
        </span>
    </nav>
    <exemplify [selector]="'#navbarThemeExample .navbar.navbar-light.bg-white'"></exemplify>
  </div>
  <div class="card-body">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand" href="#">
        Bootstrap
      </span>
      <span class="navbar-text">
          Navbar text with an inline element
        </span>
    </nav>
    <exemplify [selector]="'#navbarThemeExample .navbar.navbar-light.bg-light'"></exemplify>
  </div>
</div>
<div class="card mb-4 mx-n3 mx-md-0" id="navbarFormsExample">
  <h4 class="card-header">Forms</h4>
  <div class="card-body">
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand" href="#">
        Bootstrap
      </span>
      <form class="form-row">
        <div class="col">
          <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-auto">
          <button class="btn btn-sm btn-light" type="submit">Search</button>
        </div>
      </form>
    </nav>
    <exemplify [selector]="'#navbarFormsExample .navbar.navbar-dark.bg-dark'"></exemplify>
  </div>
</div>
