<span class="badge badge-close badge-primary">Primary
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</span>
<span class="badge badge-close badge-secondary">Secondary
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</span>
<span class="badge badge-close badge-success">Success
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</span>
<span class="badge badge-close badge-warning">Warning
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</span>
<span class="badge badge-close badge-danger">Danger
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</span>
<span class="badge badge-close badge-info">Info
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</span>
<span class="badge badge-close badge-light">Light
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</span>
<span class="badge badge-close badge-dark">Dark
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</span>
