<a name="buttons"><h2 class="my-3">List group</h2></a>
<!--<app-include [components]="components"></app-include>-->
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Flush"></app-anchor-heading>
  <div class="card-body">
    <p>To get a list group with flush or table style, just add the class <code>list-group-flush</code> to a normal list-group.</p>
    <app-example title="Flush list"
                 source="list-group/standard/standard.component.html">
      <app-standard class="ex-example"></app-standard>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Bullet"></app-anchor-heading>
  <div class="card-body">
    <p>To get a list group with bullets, just add the class <code>list-group-bullet</code> to a normal list-group.</p>
    <app-example title="Flush list"
                 source="list-group/bullet/bullet.component.html">
      <app-bullet class="ex-example"></app-bullet>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Check list"></app-anchor-heading>
  <div class="card-body">
    <p>To get a list group with check icons, just add the class <code>list-group-check</code> to a normal list-group.</p>
    <app-example title="List with check icons"
                 source="list-group/check/check.component.html">
      <app-check class="ex-example"></app-check>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Ordered list"></app-anchor-heading>
  <div class="card-body">
    <p>To get a ordered list, just add the class <code>list-group-ordered</code> to a normal list-group.</p>
    <app-example title="Ordered"
                 source="list-group/ordered/ordered.component.html">
      <app-ordered class="ex-example"></app-ordered>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="States for ordered list"></app-anchor-heading>
  <div class="card-body">
    <p>To set a state for a list item, just add one of the following classes to the list group item <code>list-group-item-info</code>, <code>list-group-item-success</code>, <code>list-group-item-warning</code>, <code>list-group-item-danger</code>, <code>active</code> or <code>disabled</code>.</p>
    <app-example title="Ordered list with states"
                 source="list-group/states/states.component.html">
      <app-states class="ex-example"></app-states>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Ordered action list"></app-anchor-heading>
  <div class="card-body">
    <p>To get a ordered action list group, just add the class <code>list-group-ordered</code> to a normal list-group and replace <code>list-group-item</code> with <code>list-group-item-action</code>. This list should be used when the user can act on the items in the list e.g. click an item to go to certain step or do something.</p>
    <app-example title="Ordered list with actions"
                 source="list-group/actions/actions.component.html">
      <app-actions class="ex-example"></app-actions>
    </app-example>
  </div>
</div>
