<a name="buttons"><h2 class="my-3">Badges</h2></a>
<app-include [components]="components"></app-include>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Badge styles and modifiers"></app-anchor-heading>
  <div class="card-body">
    <p>Use a badge <code>.badge</code> together with a badge modifier <code>.badge-*</code> to highlight or categorize something.</p>
    <app-example source="badge/standard/standard.component.html">
      <app-standard class="ex-example"></app-standard>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="Dismissable badges"></app-anchor-heading>
  <div class="card-body">
    <p>Add <code>.badge-close</code> together with a close button to get a badge that can be dismissed.</p>
    <div class="alert alert-warning alert-icon"><strong>Javascript needed!</strong> Please note that the example below is just a representation of how dismissable badges look and the needed markup. In order to be able to dismiss or remove them you need javascript to control when and how to show them.</div>
    <app-example source="badge/dismissable/dismissable.component.html">
      <app-dismissable class="ex-example"></app-dismissable>
    </app-example>
  </div>
</div>
<div class="card mx-n3 mx-sm-0 mb-4">
  <app-anchor-heading heading="More examples and use cases"></app-anchor-heading>
  <div class="card-body">
    <p>Badges can be used for a lot of things, below are just some ideas and examples, please check <a href="http://designlibrary.sebgroup.com/" target="_blank" class="external">SEB Design Library</a> for more info.</p>
    <div class="alert alert-warning alert-icon"><strong>Javascript needed!</strong> Please note that the example below is just a representation of how badges can be used and that additional javascript is needed to make them work. </div>
    <app-example source="badge/examples/examples.component.html">
      <app-examples class="ex-example"></app-examples>
    </app-example>
  </div>
</div>
