<button class="btn btn-primary disabled"><span class="mr-2">Waiting</span>
  <div class="spinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</button>
<button class="btn btn-outline-primary disabled"><span class="mr-2">Waiting</span>
  <div class="spinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</button>
<button class="btn btn-secondary disabled"><span class="mr-2">Waiting</span>
  <div class="spinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</button>
