<!-- Example with one button -->
<label>One button example</label>
<div class="form-row">
  <div class="col-12 col-sm-auto">
    <button type="button" class="btn btn-primary w-100">
      Go to next page<i class="far fa-arrow-right ml-2"></i>
    </button>
  </div>
</div>

<!-- Example with three buttons -->
<label class="mt-3">Three button example</label>
<div class="form-row justify-content-sm-between">
  <div class="col-6 col-sm-auto order-sm-0">
    <button type="button" class="btn btn-primary w-100">
      <i class="far fa-arrow-left mr-2"></i>Back
    </button>
  </div>
  <div class="col-6 col-sm-auto order-sm-2">
    <button type="button" class="btn btn-primary w-100">
      Next<i class="far fa-arrow-right ml-2"></i>
    </button>
  </div>
  <div class="col-12 col-sm-auto mt-3 mt-sm-0 order-sm-1">
    <button type="button" class="btn btn-primary w-100">
      Long save button text<i class="far fa-save ml-2"></i>
    </button>
  </div>
</div>
