<ul class="list-group list-group-flush">
  <li class="list-group-item bg-light font-weight-medium">Lorem ipsum</li>
  <li class="list-group-item"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales, nulla sed lobortis maximus, nisl massa vestibulum lectus, in tincidunt tellus elit vel neque. Vivamus ullamcorper auctor dignissim. Maecenas placerat, odio nec vestibulum pulvinar, tortor tellus cursus quam, sit amet vulputate est diam in justo.</p></li>
  <li class="list-group-item">Dolar sit amet</li>
</ul>
