<form class="form-inline">
  <div class="form-group">
    <div class="input-group" [ngClass]="{'active':d.isOpen()}">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (focus)="d.toggle()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary fal fa-calendar-alt" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
<hr/>
<pre>Model: {{ model | json }}</pre>
