@import "../../../../scss/variables";
@import "../../../../scss/mixins/mixins";

.side-nav {
  transform: translate3d(-256px,0,0);
  transition: transform 400ms ease-in-out;
  background: #333;
  width: 256px;
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0;
  &.active {
    transform: translate3d(0,0,0);
    display: block;
    z-index: 100;
  }
}

@include media-breakpoint-up(lg) {
  .side-nav {
    transform: translate3d(0,0,0);
  }
}

.seb-logo {
  height:56px;
  width: 56px;
}

.nav-link {
  color: #fff;
  font-weight: normal;

}

.menu-item:hover {
  background: rgba($green,.25);
  //background: $light;
  /*.nav-link {
    color: $dark;
  }*/
}

.menu-item {
  &.active {
    .nav-link {
      font-weight: $font-weight-medium;
    }
    background: $green;
  }
  &.active-parent {
    .nav-link {
      font-weight: $font-weight-medium;
      &::after {
        display: block;
        content: "";
        left: 0;
        width: 5px;
        background: $green;
        top: 0;
        position: absolute;
        height: 100%;
        animation: expand ease-out .2s;
        transition: transform .2s ease-in-out;
      }
    }
  }
  &.active-match {
    .nav-link {
      font-weight: $font-weight-medium;
    }
  }
}

.nav-wrapper {
  height: calc(100% - 56px);
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}