<h2 class="px-3 px-md-0 my-3">Loaders</h2>
<div class="card">
  <div class="card-body">
    <p>Some experimental loaders</p>
    <div class="row" id="loaders">
      <div class="col-auto">
        <div class="spinner spinner-sm"></div>
      </div>
      <div class="col-auto">
        <div class="spinner"></div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-md"></div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-lg"></div>
      </div>
      <div class="col-auto">
        <div class="spinner-sq spinner-sm"></div>
      </div>
      <div class="col-auto">
        <div class="spinner-sq"></div>
      </div>
      <div class="col-auto">
        <div class="spinner-sq spinner-md"></div>
      </div>
      <div class="col-auto">
        <div class="spinner-sq spinner-lg"></div>
      </div>
    </div>
    <exemplify [selector]="'#loaders .col-auto > *'"></exemplify>
    <div class="row mt-5" id="loadersButton">
      <div class="col-auto">
        <button class="btn btn-primary disabled"><span class="mr-2">Waiting</span>
          <div class="spinner"></div>
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary disabled"><span class="mr-2">Waiting</span>
          <div class="spinner-sq"></div>
        </button>
      </div>
    </div>
    <exemplify [selector]="'#loadersButton .btn'"></exemplify>
  </div>
</div>
<h3 class="px-3 px-md-0 my-3">Loaders on light grey background</h3>
<div class="card">
  <div class="card-body bg-light">
    <p>Add class <code>light</code> to spinner element when placed against light background.</p>
    <div class="row" id="loadersLight">
      <div class="col-auto">
        <div class="spinner spinner-sm light"></div>
      </div>
      <div class="col-auto">
        <div class="spinner spinner-lg light"></div>
      </div>
      <div class="col-auto">
        <div class="spinner-sq spinner-sm"></div>
      </div>
      <div class="col-auto">
        <div class="spinner-sq spinner-lg"></div>
      </div>
    </div>
    <exemplify [selector]="'#loadersLight .col-auto > *'"></exemplify>
  </div>
</div>
