<div class="mobile-nav bg-light w-100" *ngIf="($activeTab | async) && $activeState | async as mobileMenu">
  <div class="col d-md-none px-0" *ngIf="$activeTab | async as activeTab" (click)="hideMobileNav()">
    <div class="mobile-breadcrumb border-bottom">
      <div  class="d-flex align-items-center position-absolute w-100 h-100">
        <h5 class="text-center position-absolute w-100" [@slideOut]="menuState" *ngIf="menuState === 'show'">{{activeTab}}</h5>
      </div>
    </div>
  </div>
  <div [@slideOut]="menuState" *ngIf="menuState === 'show'" class="position-absolute w-100">
    <div class="row border-bottom px-3 align-items-center" *ngFor="let menuItem of mobileMenu">
        <ng-container *ngIf="menuItem.path.substr(0,4) !== 'http'">
          <div class="col">
            <a class="nav-link" routerLink="{{menuItem.path}}" (click)="hideMobileNav()">{{menuItem.name}}</a>
          </div>
        </ng-container>
        <ng-container *ngIf="menuItem.path.substr(0,4) === 'http'">
          <div class="col">
            <a class="nav-link" [href]="menuItem.path" target="_blank" (click)="hideMobileNav()">{{menuItem.name}}</a>
          </div>
          <div class="col-auto">
            <i class="far fa-external-link-square"></i>
          </div>
        </ng-container>
    </div>
  </div>

</div>
