<button type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<!--<div class="badge badge-success badge-close">A badge
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="badge badge-info badge-close">A badge
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="badge badge-warning badge-close">A badge
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="badge badge-danger badge-close">A badge
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>-->
