// Accordion

$accordion-border-color:    $table-border-color !default; // SEB specific
$accordion-border-width:    $table-border-width !default; // SEB specific
$accordion-header-padding:  $table-cell-padding !default; // SEB specific
$accordion-body-padding:    $table-cell-padding !default; // SEB specific
$accordion-body-bg:         transparent !default; // SEB specific
