// @import "styles/alert"; bootstrap default

/** SEB specific alert styles */

//
// Base styles
//

.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}


// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}

// Prevent header from getting border when zoomed to 125%
.alert-heading {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: inherit;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 1px);
    left: -1px;
    z-index: -1;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

/*.alert:not([class*="alert-outline-"]) .close {
  opacity: 1;
  &::after {
    background: url("data:image/svg+xml;charset=UTF-8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23fff' d='M217.5 256l137.2-137.2c4.7-4.7 4.7-12.3 0-17l-8.5-8.5c-4.7-4.7-12.3-4.7-17 0L192 230.5 54.8 93.4c-4.7-4.7-12.3-4.7-17 0l-8.5 8.5c-4.7 4.7-4.7 12.3 0 17L166.5 256 29.4 393.2c-4.7 4.7-4.7 12.3 0 17l8.5 8.5c4.7 4.7 12.3 4.7 17 0L192 281.5l137.2 137.2c4.7 4.7 12.3 4.7 17 0l8.5-8.5c4.7-4.7 4.7-12.3 0-17L217.5 256z'/%3E%3C/svg%3E");
    background-size:100%;
    background-position: 0;
    background-repeat: no-repeat;
  }
  &:hover {
    opacity: 0.75;
  }
}*/

/*.alert-dismissible {
  padding-right: ($close-font-size + $alert-padding-x * 2);

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}*/

//.alert .close {
  //@include close();
//}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  // override the style of primary and info alerts
  @if ($color == 'primary') or ($color == 'info') {
    $value: map-get($theme-colors, 'secondary');
  }
  .alert-#{$color} {
    @include alert-variant($value, $value, theme-color-level($color, $alert-color-level));
  }
  .alert[class*=#{$color}] .close {
  @include close($value);
}
}

// Alert icon styles
//
// Generate contextual modifier classes for alert icons.

@each $color, $value in $theme-colors {
  // override the style of primary and info alerts
  @if ($color == 'primary') or ($color == 'info') {
    $value: map-get($theme-colors, 'secondary');
  }
  @if index("danger" "warning" "success" "info", $color) {
    .alert.alert-icon {
      &.alert-#{$color} {
        @include alert-icon($value, $value, theme-color-level($color, $alert-color-level), $color);
      }
    }
  }
}

.alert-icon {
  padding-left: $alert-icon-padding;
  > .row {
    display: inline-flex;
    @include media-breakpoint-down(xs) {
      > .col-12 {
        // margin-left: calc(-2.625rem + .75rem);
        margin-left: -$alert-icon-padding + $alert-padding-x;
        min-width: calc(100% + #{$alert-icon-padding - $alert-padding-x});
      }
    }
  }

}


