@import "../bootstrap-core/card";

// SEB Specific styles for card

.card {
  box-shadow: rgba(0,0,0,0.10) 0 0 1rem 0;
  border: transparent;
}

.card-header + .card-body {
  padding-top: 0;
}

.card-header {
  background: none;
  position: relative;
  border-bottom: transparent;
  padding-top: map-get($spacers,3);
  .card-subtitle {
    margin-top: map-get($spacers,1);
    font-weight:normal;
  }
  .card-title {
    margin-top: map-get($spacers,2);
    margin-bottom: map-get($spacers,1);
  }
}

.card-footer {
  background: none;
}

// TODO: change to icon
.card-accordion-control {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  right: 1.75rem;
  transform: rotateZ(-135deg);
  top: 1.75rem;
  position: absolute;
  border-right: $card-border-width solid $blue;
  border-bottom: $card-border-width solid $blue;
  &.closed {
    top:1.25rem;
    transform: rotateZ(45deg);
  }
}

$card-menu-size: 0.25rem;
$card-menu-spacing: $card-menu-size*2;
$card-menu-color: $blue;
.card-menu-control {
  content: '';
  display: block;
  width: $card-menu-size*5;
  height: $card-menu-size;
  right: 1.75rem;
  // top: 1.75rem;
  top: calc(50% - #{$card-menu-size});
  position: absolute;
  border-right: solid $card-menu-color $card-menu-size;
  border-left: solid $card-menu-color $card-menu-size;
  cursor: pointer;
}

.card-menu-control::before {
  content: '';
  display: block;
  right: -$card-menu-size;
  top: 0;
  height: $card-menu-size;
  width: $card-menu-size;
  background: $card-menu-color;
  position: relative;
}
