@import "../bootstrap-core/dropdown";

// SEB Specific styles for dropdowns
button.btn.dropdown-toggle {
  border-color: $input-border-color;
  color: $input-color;
  background: $input-bg;
  font-weight: $font-weight-base;
  &:hover {
    border-color: $blue;
  }
}
.dropdown-menu {
  margin-top: 0.35rem;
}

.dropdown-control {
  padding: 0 map_get($spacers, 2);
}


.dropdown, .dropup {
  @if $enable-validation-icons {
    &.is-valid, &.is-invalid {
      .dropdown-toggle {
        background-repeat: no-repeat;
        background-position: center right calc(#{$input-height-inner});
        background-size: calc(#{$input-height-inner} / 2) calc(#{$input-height-inner} / 2);
      }
    }
    &.is-valid .dropdown-toggle {
      background-image: escape-svg($form-feedback-icon-valid);
    }
    &.is-invalid .dropdown-toggle {
      background-image: escape-svg($form-feedback-icon-invalid);
    }
  }
}
