@import "../bootstrap-core/grid";
.container-content {
  max-width: map-get($grid-breakpoints,'lg');
  margin-right: auto;
  margin-left: auto;
}

@if ($enable-responsive-gutters) {
  @include custom-gutter($responsive-gutters);
}