@import "../bootstrap-core/input-group";

// SEB Specific styles for input-groups

.input-group-prepend .input-group-text {
  border-right: none;
  z-index: 2;
  position: relative;
}

.input-group-append .input-group-text {
  border-left: none;
  z-index: 2;
  position: relative;
}

@include media-breakpoint-down(xs) {
  .input-group.active {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $input-focus-box-shadow;
    }
    border-radius: $input-border-radius;
    .form-control, .btn {
      z-index:  $zindex-modal;
      opacity: 0.35;
      border-color: $input-focus-border-color;
    }
    .form-control {
      border-right-color: transparent !important;
    }
  }
}
