@import "../bootstrap-core/modal";


// SEB Specific style for aside modal and fullscreen
.modal {
  &.modal-aside {
    &.modal-aside-right {
      .modal-dialog {
        right: 0;
        position: fixed;
        @include media-breakpoint-up(sm) {
          @include add-transition('slideInRight');
        }
      }
    }
    &.modal-aside-left {
      .modal-dialog {
        left: 0;
        position: fixed;
        @include media-breakpoint-up(sm) {
          @include add-transition('slideInLeft');
        }
      }
    }

    .modal-dialog {
      @include add-transition('slideInUp');
      margin: 0;
      top: 0;
      height: 100vh;
      min-height: -webkit-fill-available;

      .modal-content {
        height: 100%;
        border: none;
        width: $modal-aside-width;
      }
      @include media-breakpoint-down('xs') {
        .modal-content {
          width: 100vw;
        }
      }
    }
    .modal-dialog.modal-lg {
      max-width: 100vw;
      .modal-content {
        width: 100vw;
        @include media-breakpoint-up(md) {
          max-width: $modal-aside-lg-width;
          width: auto;
          min-width: $modal-aside-width;
        }
      }
    }
  }
  @include media-breakpoint-down('xs') {
    .modal-dialog, .modal-content {
      border: none;
      width: 100vw;
      margin: 0;
      top: 0;
    }
  }
  &.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    @include add-transition('slideInUp');
    .modal-content {
      border:none;
      height: 100%;
    }
  }
  .modal-dialog {
    @include add-transition('slideInDown');
    @include media-breakpoint-up(sm) {
      @include add-transition('fadeInUp');
    }
    //@include fade-in-up()
  }
}

.modal-header {
  .close {
    margin: 0 0 0 auto;
  }
}

.modal-body {
  overflow: auto;
}
.modal-backdrop.fade.show {
  animation: fadeInBackdrop $transition-fade-duration;
}

@supports (-webkit-overflow-scrolling: touch) {
  .modal.modal-aside, .modal.modal-fullscreen {
    .modal-dialog, .modal-content {
      max-height: 100%;
    }
  }
  .modal-body {
    -webkit-overflow-scrolling: touch;
  }
}


@keyframes fadeInBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: $modal-backdrop-opacity;
  }
}
