@import "../bootstrap-core/modal";

// SEB Specific style for aside modal
.modal {
  &.modal-aside {
    &.active {
      &::after {
        content: '';
        display: block;
        position: fixed;
        background: $modal-backdrop-bg;
        opacity: $modal-backdrop-opacity;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
        animation: fade-in-modal 0.3s ease-out;
      }
    }
    &.modal-aside-right {
      .modal-dialog {
        right: 0;
        transform: translate3d(320px,0,0);
        @media (max-width: map-get($grid-breakpoints, 'sm')) {
          transform: translate3d(0,100vh,0);
        }
      }
      &.active, &.show {
        .modal-dialog {
          transform: translate3d(0,0,0);
        }
      }
    }

    &.modal-aside-left {
      .modal-dialog {
        left: 0;
        transform: translate3d(-320px,0,0);
        @media (max-width: map-get($grid-breakpoints, 'sm')) {
          transform: translate3d(0,100vh,0);
        }
      }
      &.active, &.show {
        .modal-dialog {
          transform: translate3d(0,0,0);
        }
      }
    }

    .modal-dialog {
      margin: 0;
      position: fixed;
      top: 0;
      height: 100vh;
      transition: transform 0.3s ease-out;

      .modal-content {
        height: 100vh;
        border: none;
        width: 320px;
      }
      @media (max-width: map-get($grid-breakpoints, 'sm')) {
        .modal-content {
          width: 100vw;
        }
      }
    }
  }
  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    .modal-dialog, .modal-content {
      border: none;
      width: 100vw;
      margin: 0;
      top: 0;
    }
  }
  &.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    .modal-content {
      border:none;
      height: 100%;
    }
  }
}

.modal-body {
  overflow: auto;
}



@keyframes fade-in-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: $modal-backdrop-opacity;
  }
}
