@import "../bootstrap-core/reboot";
a {
  font-weight: $link-weight;
}

.external {
  &::after {
    content: escape-svg($external-link-icon);
    height: 1rem;
    width: 0.875em;
    display: inline-block;
    vertical-align: -2px;
    margin-left: map-get($spacers, 1);
    margin-right: map-get($spacers, 1);
  }
  &:hover::after {
    content: escape-svg($external-link-hover-icon);
  }
}
