// @import "../bootstrap-core/toasts";
.toast {
  @include border-radius($toast-border-radius);
  @include transition($toast-transition);
  @include font-size($toast-font-size);
  position: relative;
  overflow: hidden;
  margin-bottom: $toast-margin-bottom;
  padding: $toast-padding;
  padding-left: 3rem;
  width: $toast-width;
  @include box-shadow($toast-box-shadow);
  pointer-events: auto;
  opacity: 0;
  @include border-radius($toast-border-radius);

  &:last-child {
    margin-bottom: 0;
  }

  &.showing {
    opacity: 1;
  }

  &.show {
    display: block;
    opacity: 1;
  }

  &.hide {
    display: none;
  }
}

@each $color, $value in $theme-colors {

  // override the style of primary and info toast to match alerts
  @if ($color == 'primary') {
    $value: map-get($theme-colors, 'secondary');
  }

  .toast.toast-#{$color} {
    @include alert-variant($value, $value, theme-color-level($color, $alert-color-level));
    @if index("danger" "warning" "success" "info", $color) {
      @include alert-icon($value, $value, theme-color-level($color, $alert-color-level), $color);
    }
    &:hover {
      @include gradient-bg(lighten($value, 7.5%));
    }
    .toast-close-button {
      @include close($value);
    }
  }
}

.toast-header {
  display: flex;
  align-items: center;
  padding: $toast-padding-y $toast-padding-x;
  color: $toast-header-color;
  background-color: $toast-header-background-color;
  background-clip: padding-box;
  border-bottom: $toast-border-width solid $toast-header-border-color;
}

.toast-body {
  padding: $toast-padding-x; // apply to both vertical and horizontal
}
