// @import "../../utilities"; Bootstrap default
@import "../bootstrap-core/utilities/align";
@import "../bootstrap-core/utilities/background";
@import "../bootstrap-core/utilities/borders";
@import "utilities/borders";
@import "../bootstrap-core/utilities/clearfix";
@import "../bootstrap-core/utilities/display";
@import "../bootstrap-core/utilities/embed";
@import "../bootstrap-core/utilities/flex";
@import "../bootstrap-core/utilities/float";
@import "../bootstrap-core/utilities/overflow";
@import "../bootstrap-core/utilities/position";
@import "../bootstrap-core/utilities/screenreaders";
@import "../bootstrap-core/utilities/shadows";
@import "../bootstrap-core/utilities/sizing";
@import "../bootstrap-core/utilities/spacing";
@import "../bootstrap-core/utilities/text";
@import "utilities/text";
@import "../bootstrap-core/utilities/visibility";
