/* You can add global styles to this file, and also import other style files */

@import "../scss/bootstrap";
@import "~@sebgroup/ngx-toastr/scss/ngx-toastr";
@import "~@sebgroup/ng-bootstrap/scss/ng-bootstrap";

$exemplify-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default; // default font-family
$exemplify-code-font-size: 14px !default; // default font size for code snippet
$exemplify-border-color: #037aff !default; // border color of left border
$exemplify-tab-border-color: #e1e1e1 !default; // tab border color
$exemplify-color: #000 !default; // default text color
$exemplify-link-color: $exemplify-border-color !default; // link color for nav elements and links
$exemplify-mobile-width: 576px !default; // breakpoint for mobile layout
$exemplify-stripe-color: #f1f1f1 !default; // stripe color of code snippet background
$exemplify-custom-select-height: calc(2.25rem + 2px) !default; // the height for select element
$exemplify-custom-toolbar-width: 114px !default; // the width need for copy and toggle show/hide buttons
$exemplify-copy-notice-duration: 1400ms !default; // duration when copy notice is displayed
$exemplify-copy-notice-transition-time: 600ms !default; // copy notice transition time

// default colors for code snippet tags
$exemplify-colors:
  (
    one: #6610f2,
    two: #00a985,
    three: #17a2b8,
    four: #0092E1,
    five: #e83e8c
  ) !default;
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  font-family: $exemplify-font-family;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  margin: 0;
  overflow: visible;
  padding: 0;
  border-left: 8px solid $exemplify-border-color;
  display: flex;
  padding-top: 22px;

}
pre[class*="language-"]>code {
  position: relative;
  background-color: #fff;
  background-image: linear-gradient($exemplify-stripe-color 50%, transparent 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  min-width: 100%;
  box-sizing: border-box;
}

code[class*="language"] {
  max-height: inherit;
  height: inherit;
  padding: 0 1rem 21px 1rem;
  display: block;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}

.token.punctuation {
  color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: map-get($exemplify-colors, one);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: map-get($exemplify-colors, two);
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: map-get($exemplify-colors, three);
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: map-get($exemplify-colors, four);
}

.token.regex,
.token.important {
  color: map-get($exemplify-colors, three);
}

.language-css .token.string,
.style .token.string {
  color: map-get($exemplify-colors, five);
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.namespace {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    box-shadow: none;
  }

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
  padding-left: 0;
}

pre[class*="language-"].line-numbers.line-numbers code {
  padding-left: 3.8em;
}

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
pre[data-line] code {
  position: relative;
  padding-left: 4em;
}
pre .line-highlight {
  margin-top: 0;
}


app-anchor-heading + .card-body {
  padding-top: 0;
}

