/* You can add global styles to this file, and also import other style files */

$enable-ng-bootstrap: true;
$enable-ngx-toastr: true;

@import "../scss/bootstrap";
@import "~@sebgroup/ngx-toastr/scss/ngx-toastr";
@import '~angular-exemplify/scss/prism-exemplify';

exemplify > ul {
  margin-top: 2rem;
}
