<ol class="list-group list-group-ordered">
  <li class="list-group-item list-group-item-info">This is a info item</li>
  <li class="list-group-item list-group-item-success">This is something successful or completed perhaps</li>
  <li class="list-group-item list-group-item-warning">This is something that's pending or incomplete</li>
  <li class="list-group-item list-group-item-danger">Here we have an error</li>
  <li class="list-group-item active"><strong class="mb-1 d-block">This item is active</strong><p class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales, nulla sed lobortis maximus, nisl massa vestibulum lectus, in tincidunt tellus elit vel neque. Vivamus ullamcorper auctor dignissim. Maecenas placerat, odio nec vestibulum pulvinar, tortor tellus cursus quam, sit amet vulputate est diam in justo.</p></li>
  <li class="list-group-item disabled">Disabled list item </li>
</ol>
