<a name="datepicker"><h2 class="my-3">Datepicker</h2></a>
<div class="card mx-n3 mx-md-0">
  <div class="card-body" id="datepickerExample">
    <div class="alert alert-warning alert-icon"><strong>Framework needed!</strong> Please note that you need to install <a class="alert-link" href="https://sebgroup.github.io/ng-bootstrap/" target="_blank">@sebgroup/ng-bootstrap</a> which is a theme for <a class="alert-link" href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a> in order to use the datepickers in this example.</div>
    <h4 class="card-title">Simple datepicker with week number</h4>
    <p class="mb-3">For more info and examples please refer to ng-bootstrap <a href="https://ng-bootstrap.github.io/#/components/datepicker/overview" target="_blank">official documentation</a>.</p>
    <app-datepicker-simple></app-datepicker-simple>
    <!--<exemplify [sources]="sources.simple"></exemplify>-->
  </div>
  <div class="card-body" id="datepickerInputExample">
    <h4 class="card-title">Datepicker with input</h4>
    <p class="mb-3">For more info and examples please refer to ng-bootstrap <a href="https://ng-bootstrap.github.io/#/components/datepicker/overview" target="_blank">official documentation</a>.</p>
    <app-datepicker-input></app-datepicker-input>
    <!--<exemplify [sources]="sources.input"></exemplify>-->
  </div>
</div>
